* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Arial";
  color: #78111f;
  overflow: hidden;
}

.cocktailImg {
  width: 15%;
}

.randomCock {
  margin-top: 75px;
}
nav {
  background-color: #ffac84;
}
li {
  list-style: none;
}

a {
  color: #78111f;
  text-decoration: none;
  font-weight: 700;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.flex li:not(:last-child):hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.home-section {
  align-items: center;
  height: 80vh;
  justify-content: center;
  color: #78111f;
}

.coktails-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  padding: 5vh;
}

.cocktail-card {
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  position: relative;
}

.cocktail-card img {
  width: 100%;
  border-radius: 20px;
}

.cocktail-card h3 {
  position: absolute;
  top: 26px;
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
  font-weight: 900;
  font-size: 1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: linear-gradient(#ffad84, #ffad8400);
}

.btn {
  border: 0.5px solid #78111f;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 7px 14px;
  border-radius: 10px;
  background-color: white;
}

.ingredient {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.input-search {
  position: relative;
}

.btn-search {
  position: absolute;
  top: 15%;
  left: 85%;
  border-radius: 80%;
  border: none;
  background-color: white;
  cursor: pointer;
}

.bar-search {
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  border: none !important;
}

.bar-search {
  border: none;
  outline: none;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 10rem;
}

.msg-error {
  transform: scale(3);
}

.tchoupi {
  width: 600px;
}

.randomCock {
  text-align: center;
}

.btn-random {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #ffad84;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

.btn-random:hover {
  transform: scale(1.5) rotateX(360deg);
}

.tchoupi {
  width: 200px;
  height: auto;
  position: absolute;
  top: 75%;
  left: -50%;
  animation: flySpinneur 4s ease-out infinite;
}

@keyframes flySpinneur {
  0% {
    transform: translateX(0vw);
  }

  100% {
    transform: translateX(200vw);
  }
}
.singleImg {
  height: 200px;
}
.singleCocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Laurian {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}
